<%- include("header"); -%>


    <div class="container-fluid bg-image-mainpage">
      <!-- navbarstart -->
   

      <!-- main page start -->
      <section id="mainpage">
        <div class="container-fluid bg-cover-mainpage">
          <div class="row text-center text-white">
            <div class="col-md-12">
              <h1 class="tittle-home">PLAY TRADITIONAL GAMES</h1>
            </div>
            <div class="col-md-12 mt-5">
              <h3 class="subtitle-home">Experience new traditional game play</h3>
            </div>
            <div class="col-md-12 text-center">
              <button type="button" onclick="location.href='/game'"  class="btn btn-warning btn-lg fw-bold fs-5 mt-5">TRIAL GAME</button>
            </div>
            <div id="text-story" class="col-md-12">
              <a class="fw-bold text-white" href="#thegalery">
                THE STORY <br />
                <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- main page end -->
    <!-- galery start -->
    <section id="thegalery">
      <div class="container-fluid" id="bg-cover-galery">
        <div id="padding-thegalery" class="row text-white">
          <h3 class="margin-h3">What’s so special?</h3>
          <div class="col-md-4 text-end">
            <h1>THE GAMES</h1>
          </div>
          <div class="col-md-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators justify-content-evenly">
                <button id="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button id="btn" type="button" data-bs-target="#carouselEx8mpleIndicators" data-bs-slide-to="1" aria-label="slide 2"></button>
                <button id="btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy" />
                </div>
                <div class="carousel-item">
                  <img src="assets/001-Bola-Bekel (1).jpg" class="d-block w-100" alt="bekel" />
                </div>
                <div class="carousel-item">
                  <img src="assets/congklak.jpg" class="d-block w-100" alt="congklak" />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span aria-hidden="true"> <img src="assets/switch-left.svg" alt="left" /></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span aria-hidden="true"> <img src="assets/switch-right.svg" alt="switch" /></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- galery end -->

    <!-- the features start -->
    <section id="thefeatures">
      <div class="container-fluid" id="bg-cover-thefeatures">
        <div class="row text-white">
          <div id="padding-thefeatures" class="col text-start">
            <h3>What’s so special?</h3>
            <h1>FEATURES</h1>
            <div class="step completed">
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
              <div class="content">
                <p>TRADTIONAL GAMES</p>
                <span>If you miss your childhood, we provide many traditional games here</span>
              </div>
            </div>
            <div class="step active">
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
              <div class="content">
                <p>GAME SUIT</p>
              </div>
            </div>
            <div class="step">
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
              <div class="content">
                <p>TBD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- the features end -->

    <!-- system start -->
    <section id="thesystem">
      <div class="container-fluid" id="bg-cover-thesystem">
        <div class="row mb-5" >
          <div class="col text-white">
            <h3 class="text-h3-thesystem">Can My Computer Run this game?</h3>
          </div>
        </div>
        <div class="row mb-3 text-white">
          <div id="padding-thesystem" class="col-md-3 text-start">
            <h1 class="text-h1-thesystem">system requirements</h1>
          </div>
        </div>
        <div class="row">
          <div id="padding-thesystem" class="col-md-6">
            <table class="table table-bordered border-secondary">
              <tr>
                <td>
                  <p>OS:</p>
                  <span>Windows 7 64-bit only (No OSX support at this time) </span>
                </td>
                <td>
                  <p>PROCESSOR:</p>
                  <span>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ </span>
                </td>
              </tr>
              <tr>
                <td>
                  <p>MEMORY:</p>
                  <span>4 GB RAM </span>
                </td>
                <td>
                  <p>STORAGE:</p>
                  <span>8 GB available space</span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <p>GRAPHICS:</p>
                  <span>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5) </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- system end -->

    <!-- top scores start -->
    <section id="topscores">
      <div class="container-fluid" id="bg-cover-topscores">
        <div class="row justify-content-center" id="padding-row-card-md">
          <div class="row align-items-center justify-content-start" id="padding-row-card">
            <div class="col-lg-6">
              <div class="card w-55 bg-transparent">
                <div class="card-body text-white text-start">
                  <h1 class="">TOP SCORES</h1>
                  <p class="card-text text-white">This top score from various games provided on this platform</p>
                  <a href="#" class="btn btn-warning fw-bold">see more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row gap-3">
                <div class="col-md-12" id="card-col-padding">
                  <div class="card text-white mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div id="background-elipse" class="col-lg-3 text-start">
                          <img src="assets/evan-lahti.jpg" class="rounded-circle" alt="evan" />
                        </div>
                        <div class="col-lg-7 col-md-4 text-start">
                          <p>
                            Evan Lathi <br />
                            <small class="text-muted">PC gamer</small>
                          </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                          <img src="assets/twitter.svg" alt="twitter" />
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">“One of my gaming highlights of the year.”</p>
                    </div>
                    <div class="card-footer bg-transparent">June 18, 2021</div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="card text-white mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div id="background-elipse" class="col-lg-3  text-start">
                          <img src="assets/rsz_jada-griffin.jpg" class="rounded-circle" alt="jada-griffin" />
                        </div>
                        <div class="col-lg-7 col-md-4 text-start">
                          <p>
                            Jada Griffin <br />
                            <small class="text-muted">Nerdreactor </small>
                          </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                          <img src="assets/twitter.svg" alt="twitter" />
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">“The next big thing in the world of streaming and survival games.”</p>
                    </div>
                    <div class="card-footer bg-transparent">July 10, 2021</div>
                  </div>
                </div>
                <div class="col-md-12" id="card-col-padding">
                  <div class="card text-white mb-3">
                    <div class="card-header">
                      <div class="row">
                        <div id="background-elipse" class="col-lg-3 text-start">
                          <img src="assets/rsz_aaron-williams.jpg" class="rounded-circle" alt="rsz_aaron-williams" />
                        </div>
                        <div class="col-lg-7 col-md-4 text-start">
                          <p>
                            Aaron Williams <br />
                            <small class="text-muted">Uproxx</small>
                          </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                          <img src="assets/twitter.svg" alt="twitter" />
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <p class="card-text">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                    </div>
                    <div class="card-footer bg-transparent">December 24, 2018</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- top scores end -->

    <!-- news letter start -->
    <section id="newsletter">
      <div class="container-fluid" id="bg-cover-newsletter">
        <div class="row justify-content-center align-items-centers">
          <div class="col-md-4 align-self-end" id="displayskull">
            <img  src="/assets/skull.png" alt="skull">
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-lg-12 text-white">
                <h3>Want to stay in touch?</h3>
                <h1 class="newsletter-text-tittle">NEWSLETTER SUBSCRIBE</h1>
                <span>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</span>
              </div>
              <div class="col-md-7 mt-5">
                <form class="form-floating">
                  <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="youremail@binar.co,id">
                  <label for="floatingInputValue"><small class="text-muted">Your Email Address</small></label>
                </form>
              </div>
              <div class="col-md-5 d-grid mt-5">
                <button type="button" class="btn btn-lg btn-warning" style="font-family: 'Open Sans', sans-serif; font-weight: 700">Subscribe now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="padding-row-navbar-bottom">
          <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
              <div class="container-fluid ">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="navbar-collapse" id="navbarNav2">
                  <ul class="navbar-nav ms-auto me-auto gap-5 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#mainpage">MAIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#thegalery">ABAOUT</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="#thefeatures">GAME FEATURES</a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="#thesystem">SYSTEM REQUIREMENT</a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link active" href="#topscores">QUOTES</a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#"><svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z" fill="white"/>
                          </svg></a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                          </svg>
                          </a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#"><svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z" fill="#FF1313"/>
                          </svg></a>
                      </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#"><svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z" fill="white"/>
                          <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z" fill="white"/>
                          </svg></a>
                      </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
     </div>
     </section>

    <!-- news letter end -->

  
<%- include('footer') %>