<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style-dashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <!--Main Navigation-->
    <header>
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"> <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span> </a>

            <a href="/user" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>User game</span></a>
            <a href="/user-history" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-line fa-fw me-3"></i><span>History</span></a>
            <a href="/user-game-biodata" class="list-group-item list-group-item-action py-2 ripple"> <i class="fas fa-chart-pie fa-fw me-3"></i><span>Biodata</span> </a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->
    </header>
  </body>
</html>
