<%- include('sidebar') %>

      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container pt-4">
        <div class="tittle text-white ps-5">
            <h1>User game</h1>
            <button type="input" onclick="location.href = '/create'"  >+</button>
        </div>
        <table class="table table-striped table-hover bg-white">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">user-name</th>
                <th scope="col">email</th>
                <th scope="col">password</th>
                
              </tr>
            </thead>
               <% users.forEach(i => { %>
            <tbody>
              
             
                    <tr>
                    
              
                <th scope="row"><%= i.id %></th>
                <td><%= i.username %></td>
                <td><%= i.email %></td>
                <td><%= i.password %></td>
                <td><a class="btn btn-warning" href="/delete/<%= i.id %>" role="button">delete</a></td>
                
            </tr>
               
            
            
            </tbody>
             <% }); %>
          </table>
      </div>
    </main>
    <!--Main layout-->
  
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
