<%- include('sidebar') %>

      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px">
      <div class="container pt-4">
        <div class="tittle text-white ps-5">
            <h1>User history</h1>
            <button type="input" method="post" >+</button>
        </div>
        <table class="table table-striped table-hover bg-white">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">user-id</th>
                <th scope="col">play-time</th>
                <th scope="col">total-match</th>
                <th scope="col">win</th>
                <th scope="col">lose</th>
              </tr>
            </thead>
            <tbody>
<!--              
                <tbody>
                  
                 
                        <tr>
                        
                  
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td><</td>
                    <td></td>
                    <td>></td>
                    
                </tr>
                   
          
                
                </tbody>
                 -->
                 
            </tbody>
          </table>
      </div>
    </main>
    <!--Main layout-->
  
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
