<%- include('header') %>
<div class="containers-fluid bg-image-mainpage">
      <div class="container-fluid bg-cover-mainpage text-center text-white">
        <div class="row">
          <div class="col">
            <h1 class="tittle-home">THIS IS WORK</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

<%- include('footer') %>